<div class="main main-raised animated fadeIn">

  <div class="section section-tabs" style="background-image: url('./assets/img/city.jpg');background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;">
    <div class="container">
      <!--                nav tabs	             -->
      <div id="nav-tabs">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <!-- Tabs with icons on Card -->
            <div class="card card-nav-tabs">
              <div class="card-header card-header-primary">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#profile" data-toggle="tab">
                          <i class="material-icons">local_drink</i> Gaseosas
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#messages" data-toggle="tab">
                          <i class="material-icons">local_cafe</i> Otras Bebidas
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body ">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <div class="row">
                      <div class="col-md-12">
                        <h2 style="margin-left: 30px;">Mes Junio - Gaseosas</h2>
                        <!--<div style="display: block;">
                          <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>-->
                        <div>
                          <div style="display: block">
                            <canvas baseChart [datasets]="lineChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                              [chartType]="barChartType" (chartHover)="chartHoveredr($event)" (chartClick)="chartClickedr($event)"></canvas>
                          </div>
                        </div>
                        <h2 style="margin-left: 30px;">Cantidad de Pedidos por Distrito</h2>
                        <div style="display: block; margin-top: 30px;">
                          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="messages">
                    <div class="row">
                      <div class="col-md-12">
                        <h2 style="margin-left: 30px;">Mes Junio - Otras Bebidas</h2>
                        <!--<div style="display: block;">
                          <canvas baseChart width="400" height="200" [datasets]="lineChartData2" [labels]="lineChartLabels" [options]="lineChartOptions"
                            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>-->
                        <div>
                          <div style="display: block">
                            <canvas baseChart [datasets]="lineChartData2" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                              [chartType]="barChartType" (chartHover)="chartHoveredr($event)" (chartClick)="chartClickedr($event)"></canvas>
                          </div>
                        </div>
                        <h2 style="margin-left: 30px;">Mes Junio - Gaseosas</h2>
                        <div style="display: block; margin-top: 30px;">
                          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- End Tabs with icons on Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
