<div class="main main-raised">

  <div class="section section-tabs" style="background-image: url('./assets/img/city.jpg');background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;">
    <div class="container">
      <!--                nav tabs	             -->
      <div id="nav-tabs">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <!-- Tabs with icons on Card -->
            <div class="card card-nav-tabs">
              <div class="card-header card-header-primary">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#profile" data-toggle="tab">
                          <i class="material-icons">local_drink</i> Gaseosas
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#messages" data-toggle="tab">
                          <i class="material-icons">local_cafe</i> Otras Bebidas
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#settings" data-toggle="tab">
                          <i class="material-icons">event_available</i> Datos
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body ">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <form class="form" method="" action="">
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/183x208_Coca-Cola.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Coca Cola">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/Sprite-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Sprite">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-description-images/Fanta-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Fanta">
                          </div>
                        </div>
                      </div>
                      <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-link btn-primary btn-lg">Siguiente</a>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane" id="messages">
                    <form class="form" method="" action="">
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/ciel/Ciel-Purificada-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Ciel">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/Sidral-Mundet-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Sidral Mundet">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 20px" src="https://exactodigital.com/wp-content/uploads/Del-Valle-Fresh-Naranja-500ml.png" />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Del Valle">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 20px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-description-images/fuze87x76-te-verde-limon.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Fuze Tea">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/Powerade-ION-4-Moras-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Powerade">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/Glaceau-vitaminwater-Restore-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Glaceau">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/Limon&Nada-DelValle-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Limon & nada">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-images/Naranja&Nada-DelValle-183x208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Naranja & Nada">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-description-images/santa-clara-GRANDE.rendition.183.208.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Santa Clara">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-description-images/FRE_VIS18_TORONJA_LATA235__SECO_139-x-115.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Fresca">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <img style="width: 30px" src="https://www.coca-colamexico.com.mx/content/dam/journey/mx/es/private/brands/product-description-images/183x208-AdeS.jpg"
                                />
                              </span>
                            </div>
                            <input type="number" class="form-control" placeholder="Ades">
                          </div>
                        </div>
                      </div>
                      <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-link btn-primary btn-lg">Siguiente</a>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane" id="settings">
                    <form class="form" method="" action="">
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fa fa-user-circle"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Personal">
                          </div>
                        </div>
                        <div class="form-group" style="margin-left: 20px;">
                          <label class="label-control">Fecha</label>
                          <input type="text" class="form-control datetimepicker" value="06/07/2018">
                        </div>
                        <div class="form-group" style="margin-left: 20px;">
                          <label for="sel1">Lugar:</label>
                          <select class="form-control" id="sel1">
                            <option>La Tinguiña</option>
                            <option>Los Aquijes</option>
                            <option>Ocucaje</option>
                            <option>Pachacutec</option>
                            <option>Parcona</option>
                            <option>Pueblo Nuevo</option>
                            <option>Salas Guadalupe</option>
                            <option>San José de los Molinos</option>
                          </select>
                        </div>

                      </div>
                      <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-link btn-primary btn-lg">Guardar</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Tabs with icons on Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>